
body{
    background-color: hsl(220, 15%, 55%);
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  section{
    position: relative;
    border: 10px solid white;
    border-radius: 10px;
    width: 200px;
    height: 50vh;
    margin: 0 auto;
    padding: 0x 0px;
    background-color: hsl(0, 0%, 100%)
    
  }

  img{
    position: absolute;
  
    
    border-radius: 10px;
    width: 100%;
   
    
  }

  .title{
    position:absolute; 
    bottom:100px;
    text-align: center;
  }

  .sub-title{
    position:absolute; 
    bottom:30px;
    text-align: center;
    font-weight: normal;
    font-size: small;
    color: grey;
  }
